@import "./variables.scss";
@import "./reset.scss";

@import "./header.scss";
@import "./main_info.scss";
@import "./nav__info.scss";
@import "./phone.scss";
@import "./browse.scss";
@import "./footer.scss";
@import "./popup.scss";

@import "./slick.scss";

body {
    margin: 0 auto;
    font-family: $font-Lato-Regular400;
    color: $default-color;
  }

.container {
    margin: 0 auto;
    width: $container-width;
    padding: 0 15px;
  }
  
  .wrapper__photo-bg {
    height: 100%;
    width: 100vw;
    background: url(../images/main_image.png) 100% 100% no-repeat;
    background-size: cover; 
  }
  




