.browse {
    text-align: center;
    padding-top: 100px;
    color: $second-color;
    font-family: $font-Lato-Bold700;
    font-size: $font18;
    font-weight: $fBold-weight;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    line-height: 1.5;

    @media  only screen  and (max-width: 1170px){
        // line-height: 1;
        padding-top: 20px;
    }
    @media  only screen  and (max-width: 1000px){
        // line-height: 1;
        padding-top: 50px;
    }
}

.browse__line {
    margin: 10px 0;
    width: 88px;
    background-color: #f57365;
    color: #f57365;
    height: 2px;

    @media only screen and (max-width: 1000px) {
        margin: 10px auto;
    }
}

.browse__dishes-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 37px;
    
}

.browese__dishe--col {
    width: $width-20;
    cursor: pointer;

    @media only screen and (max-width: 463px) {
        width: 100%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
        
    }
  
}

.statistics__wpapper {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    color: $second-color;
    font-weight: $fThin-weight;
    font-size: $font16;

    @media only screen and(max-width: 841px) {
        display: block;
    }

}

.browse-phone {
    text-align: start;
    
    @media screen and (max-width: 1000px){
        text-align: center;
    }
}


.statistics {
    width: $width-20;
    text-align: center;

    @media only screen and (max-width: 841px) {
        width: 100%;
        margin: 20px auto;
       
    }
}

.statistics__category {
    font-weight: $fBold-weight;
    font-size: $font36;
    margin: 0;

    @media only screen and(max-width: 1000px) {
        font-size:  $font20;
    }
}