
header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;

    @media screen and (max-width: 518px) {
      display: block;
    } 
}

.logo {
  margin-left: -21%;

  @media screen and (max-width: 518px) {
    margin: 0 auto;
  } 
}

.header__menu-wrapper{
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-end;

  @media screen and (max-width: 885px) {
    width: 60%;
}
  @media screen and (max-width: 518px) {
    width: 100%;
    justify-content: center;
    flex-direction: column-reverse;
  }

}


.menu__items {
  padding: 12% 7%; 
  @media screen and (max-width: 518px) {
    padding: 10px; 
  } 
}

// menu
.hamburger-menu {
  cursor: pointer;
  padding-left:  7%;

  @media screen and (max-width: 518px) {
    padding-left: 0; 
  } 
}

.bar {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
