
main {
    padding: 19%;
    text-align: center;
}

.btn__start {
    width: $width-25;
    height: 68px;
    border: 3px solid #ffffff;
    background-color: transparent;
    color: $default-color;
    font-family: $font-Lato-Bold700;
    font-size:  $font18;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 0.7px;
    margin: 40px auto;
    cursor: pointer;

    @media screen and (max-width: 1029px) {
        width: 35%;
        font-size: $font14;

    }
    @media screen and (max-width: 850px) {
        width: 80%;
        font-size: $font10;
    }

    @media screen and (max-width: 600px) {
        width: $width-60;
    }

}


h3 { 
    opacity: 0.7;
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    font-family:$font-TimesNewRomanBoldItalic;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 1.8px;
    font-style: italic;
    font-style: oblique;

    
    @media screen and (max-width: 918px) {
        font-size: 25px;
        opacity: 1;
    }

    @media screen and (max-width: 600px) {
        font-size: 25px;
    }
}

h1 {
    padding: 20px 0;
    text-shadow: -1px 1px 40px rgba(1, 1, 1, 0.55);
    font-family:$font-Lato-Bold700;
    font-size:  $font100;
    font-weight: $fBold-weight;
    text-transform: uppercase;
    letter-spacing: 5px;
    

    @media screen and (max-width: 950px) {
        font-size: $font56;
    }

    @media screen and (max-width: 600px) {
        font-size: 40px;
    }

    @media screen and (max-width: 350px) {
        font-size: 20px;
    }
}