.wrapper__nav {
    color: $second-color;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;

    @media only screen  and (max-width: 783px) {
        display: block;
    }
} 

.nav__info {
    padding: 10px 10px;
    width: 33%;
    margin: 0 auto;
    text-align: center;
    color: $second-color;
    font-family: $font-Lato-Thin300;
    font-size:  $font16;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.8px;

    @media only screen  and (max-width: 783px) {
        width: 100%;
    }
}

#nav__info-img {
    margin: 0 auto;
    padding: 20px;
}

.nav__info-icon {
    margin: 0 auto; 
    width: 107px;
    height: 107px;
    border-radius: 50%;
    border: 2px solid #000000;

}
.nav__info-link {
    padding: 20px 0 10px;
    color: $second-color;
    font-family: $font-Lato-Bold700;
    font-size: $font18;
    font-weight: $fBold-weight;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.9px;
}

#nav__info-icon--position {
    margin: 0 auto;
    padding-top: 36px;
}

hr {
    width: 88px;
    margin: 0 auto;
    border: none;
    background-color: #f57365;
    color: #f57365; /* Цвет линии для IE6-7 */
    height: 2px; 
   }

.nav__info-text {
       padding-top: 20px;
}