.phone__bg {
    background-color: $bg-footer-color;
}

.phone__wrapper {
    color: $second-color;
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    font-family: $font-Lato-Thin300;
    font-size: $font16;
    font-weight: $fThin-weight;
    letter-spacing: 0.8px;
    line-height: 1.5;

    @media  only screen  and (max-width: 1100px){
        padding-top: 20px;
    }
} 

.phone__img {
    @media only screen and (max-width:1000px) {
        display: none;
    }
    
}

.phone__text {
    padding:0  80px ;
    width: $width-50;

    @media  only screen  and (max-width: 1170px){
        padding: 0  30px ;
    }

    @media only screen and (max-width: 1000px) {
        width: 100%;
        text-align: center;
    }

}

.phone__icon-wrapper {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;

    @media screen and (max-width: 1000px){
        display: flex;
        justify-content: center;
        padding-bottom: 100px;
    }
}

.phone__text-position {
    padding-bottom: 33px;
}

.phone__icon {
    padding-right: 20px;
}